.App {
  text-align: center;
}

#Walker {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reviewAccordion {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 2px;
  border-top: 1px solid rgb(197, 203, 213);
  border-bottom: 1px solid rgb(197, 203, 213);
  width:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrow{
  float: right;
  height: 20px;
}

.reviews{
  display: inline-block;
}