.reviewContainer {
  border-bottom: 1px solid rgb(197, 203, 213);
}

.reviewHeader {
  width: 33.33%;
  display: inline-block;
}

.reviewBody {
  width: 66.66%;
  display: inline-block;
  font-weight: normal;
  font-size: 20px
}

.username {
  color: rgb(0, 30, 115);
  font-size: 15px;
}

.reviewHeaderText{
  font-size: 13px;
}

.reviewRating {
  display: block;
}

.reviewBody .header {
  padding-top: 30px;
  margin-left: 10px;
  background-color: white;
  display:inline-block;
}
.reviewBody .header {
 margin: 5px 0px;
}

.reviewButtons {
  color: #0046be;
  background: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  height: 30px;
  margin: 30px 0;
  margin-right: 12px;
}