.reviewStats {
  height: auto;
  width: 100%;
  font-size: 15px;
  margin: 2px;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(197, 203, 213);
  vertical-align: top;
}

.rating {
  display:inline-block;
  width: 23%;
  vertical-align: top;
}

.ratingSummary{
  width: 50%;
  display: inline-block;
}

.expertRating {
  padding-left: 40px;
  width: auto;
}

.averageRatings {
  width:40%;
  display:inline-block;
}

.countByStars {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.starRatings {
  width: 100%;
  display: inline-block;
  font-weight: normal;
}

.avgRatingScore{
  font-size: 40px;
  font-weight: normal;
}

.widget-svg{
  height: 15px;
  width: 15px;
}

.ratingsByStars {
  padding-bottom: 10px;
}

.percentBar {
  width: 70%;
}

.ProsAndCons {
  display: inline-block;
  padding: 0px 10px;
  padding-bottom: 5px;
  font-size:15px;
}

.cons{
  padding-right: 70px;
  border-right: 1px solid #c5cbd5;
}

.proButtons{
  display: block;
  margin: 5px;
  border: 1px solid #c5cbd5;
  color: #0046be;
  background: #fff;
  text-decoration: none;
  border-radius: 4px;
  height: 30px;
  width: 100px;
}

.showReviewButtons {
 font-size: 15px;
 font:arial;
 height: 35px;
 width: 250px;
 cursor: pointer;
 text-align: center;
 vertical-align: middle;
 margin: 20px;
 padding: 0 28px;
 color: #fff;
 background-color: #0046be;
 font-weight: bold;
 border-radius: 4px;
 border: 0;
}

.show {
  background-color: #fff;
  color: #0046be;
  border: 1px solid #0046be;
}

.show:hover {
  color: #fff;
  background-color: #0046be;
}

